/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Vidaloka");
@import url("https://fonts.googleapis.com/css?family=Muli");
@import '../packages/slick/slick.css';
@import '../packages/slick/slick-theme.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* modules */
/* media queries - defaults to min-width */
/* see _variables.scss for breakpoint values */
/* ------------------------- */
/* media query breakpoints */
/* base styling */
html {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "M PLUS 1p", "Muli", sans-serif;
  color: #424242;
  display: grid;
  grid-gap: 0;
  font-size: 1em;
  /* all grid-areas are defined at the top of their respective scss partial */
  grid-template-areas: "header" "skills" "projects" "experience" "education" "resume" "readings" "footer";
}

.subsection {
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.625em;
}

h3 {
  font-size: 1.375em;
}

img {
  max-width: 100%;
  height: auto;
}

/* DESKTOP STYLING */
@media screen and (min-width: 768px) {
  html {
    height: 1000vh;
  }

  body {
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 10% 10% 20% 10% 10% 10% 10% 20%;
    grid-gap: none;
    /* all grid-areas are defined at the top of their respective scss partial */
    grid-template-areas: "..... ..... header ..... ....." "..... skills skills skills ....." "..... projects projects projects ....." "..... ..... experience ..... ....." "..... ..... education ..... ....." "..... ..... resume ..... ....." "..... ..... readings ..... ....." "..... ..... footer ..... .....";
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }
}
/* svg styling */
/* SVG STYLING */
.svg-bg {
  /* temporarily hide the svg... */
  display: none;
  /* html can be on top, but lines change depending on size of window */
  position: absolute;
  top: 0;
  z-index: -1;
  /* see preserveAspectRatio on the html element for scaling details */
  width: 100%;
  height: 1000vh;
}

.svg-line {
  stroke-width: 1;
  stroke-linejoin: round;
  fill: none;
}

.inner-left, .inner-right {
  stroke: #EF514F;
}

.outer-left, .outer-right {
  stroke: #4FDCEF;
}

/* styling for desktop */
@media screen and (min-width: 768px) {
  .svg-bg {
    display: block;
  }
}
/* partials for each subsection */
header {
  grid-area: header;
  border-top: 5px solid;
  border-image: linear-gradient(to right, #EF514F 50%, #4FDCEF 50%) 2;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 50%;
  }
}
.skills {
  grid-area: skills;
}

.icons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-between;
}

.icons figure {
  width: 100%;
  height: 100%;
}

.projects {
  grid-area: projects;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

.resume {
  grid-area: resume;
}

.readings {
  grid-area: readings;
}

footer {
  grid-area: footer;
}

/* media breakpoints */
/* hide svg animation on screens smaller than 700px wide */
/* third-party styling */
/* custom slick styling */
.slick-prev:before,
.slick-next:before {
  color: black;
}

/*# sourceMappingURL=main.css.map */
