.experience {
  grid-area: experience;
  // border-image: linear-gradient(to right, $highlight-red 50%, $highlight-blue 50%) 2;
}
.experience-details {
  margin: 0 1em 1.5em 1em;
  span {
    display: inline-block;
  }
  .experience-title {
    display: flex;
    align-items: center;
    margin-bottom: 0.35em;
  }
  img {
    width: auto;
    margin-right: 0.75em;
  }
  img#devmtn, img#reh {
    height: 2em;
  }
  img#hackyale, img#fusion {
    height: 1.15em;
  }
  h3 {
    opacity: 0.5;
  }
  article {
    display: inline-block;
  }
  p {
    margin-top: 0.5em;
  }
}

// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {

}