.experience {
  grid-area: experience;
  // border-image: linear-gradient(to right, $highlight-red 50%, $highlight-blue 50%) 2;
}
.experience-details {
  margin: 0 1em 1.5em 1em;
  span {
    display: inline-block;
  }
  img {
    width: 25%;
    height: auto;
  }
  article {
    display: inline-block;
  }
}

// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {

}