nav.subsection:before {
  content: "";
  width: 100%;
  border-top: 10px solid $highlight-blue;
  position: absolute;
  top: 10px;
  // not 100% set on this box shadow for the topmost border...
  box-shadow: 0 1px 1px rgba(211, 94, 94, 0.2);
}
nav.subsection {
  // fix so the line is right below the view
  grid-area: header;
  border-top: 10px solid $highlight-red;
  padding: 1.5em 0 0 0 ;
  border-image: none;
  #header-nav {
    display: flex;
    justify-content: space-between;
  }
  nav.nav-modal {
    position: fixed;

    // offset the top borders...
    top: -10px;
    z-index: 1;

    // height doesn't work with safari iOS bottom nav!
    height: calc(100vh + 10px);
    width: 100%;
    padding: 6.5em 2.5em 2.5em 2.5em;
    background-color: rgba(255, 255, 255, 0.95);

    // link spacing
    display: flex;
    flex-direction: column;

    // hidden by default
    display: none;
    a, .email {
      padding-bottom: 1em;
    }
    a {
      display: block;
      color: $font-color;
      font-size: 1.75em;
    }
    a:active {
      color: $highlight-blue;
    }
    .email {
      font-size: 1.25em;
      color: $highlight-red;
    }
    #modal-hamburger-menu {
      position: absolute;
      top: 2.5em;
      right: 0;
      // right: 1.5em;
    }
  }
}

// thank you to Naoya - https://codepen.io/nxworld/pen/OyRrGy
.down-arrow {
  -webkit-animation: arrow 1.5s infinite;
  animation: arrow 1.5s infinite;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 1.5em);
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 1.5em);
    opacity: 0;
  }
}
header#intro {
  margin: 1.5em 1em 0 0.5em;
  border: 0;
  font-size: 1.5em;
  font-weight: 300;
  height: 80vh;
  p {
    margin-bottom: 0.5em;
    line-height: 1.35em;
  }
}

// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {
  header {
    padding-top: 50%;
  }
  nav.subsection {
    border-top: none;
    padding: 0;
  }
  nav.subsection:before {
    content: none;
  }
  #hamburger-menu {
    display: none;
  }
}