.projects {
  grid-area: projects;
  border-image: linear-gradient(to right, $highlight-blue 50%, $highlight-red 50%) 2;
  .collapsible-toggle {
    cursor: pointer;
  }
  .collapsible-content {
    // maybe no collapsible?
    display: none;
  }
  .technologies {
    display: flex;
    flex-wrap: wrap;
  }
  .technologies > i {
    color: white;
    padding: 0.25em;
    border: 1px solid white;
  }
  .technologies.red-icons > i {
    background-color: $highlight-red;
  }
  .technologies.blue-icons > i {
    background-color: $highlight-blue;
  }
}
.project-url {
  color: $highlight-red;
}

// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {
  a.project-url:hover {
    color: $highlight-red-dark;
  }
}
