.projects {
  grid-area: projects;
  border-image: linear-gradient(to right, $highlight-blue 50%, $highlight-red 50%) 2;
}
a.project-url {
  color: $highlight-red;
}
// a.project-url:visited {
//   color: $highlight-red-dark;
// }

// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {
  a.project-url:hover {
    color: $highlight-red-dark;
  }
}

// /* Preview image for slider */
// .project-description {
//   display: flex !important;
//   align-items: center;
// } 
// .project-description article {
//   padding-top: 10%;
//   width: 40%;
//   text-align: left;
// }
// .project-preview-photo {
//   padding-top: 10%;
//   width: 60%;
//   display: inline;
// }
// .project-preview-photo img {
//   width: 100%;
// }