.projects {
  grid-area: projects;
  // border-image: linear-gradient(to right, $highlight-blue 50%, $highlight-red 50%) 2;
  .technologies {
    display: flex;
    flex-wrap: wrap;
  }
  .technologies > i {
    color: white;
    padding: 0.25em;
    border: 1px solid white;
  }
  .technologies > i {
    // red icons
    background-color: $highlight-red;
  }
  .project-buttons .button {
    margin-right: 0.25rem;
  }
  .project-url {
    color: $highlight-red;
  }
  .project-details {
    margin: 0 1em 1.5em 1em;
    img.project-preview-photo {
      max-width: calc(100% + 2em);
      margin: 0.75em 0 1em -1em;
    }
    .technologies {
      margin-bottom: 0.25em;
    }
  }
}


// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {
  a.project-url:hover {
    color: $highlight-red-dark;
  }
}
