.readings {
  grid-area: readings;
  border-image: linear-gradient(to right, $highlight-red 50%, $highlight-blue 50%) 2;
  .article {
    color: $font-color;
  }
}

// DESKTOP STYLING
@media screen and (min-width: $tablet-breakpoint) {

}