@import url('https://fonts.googleapis.com/css?family=Muli');
html {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: $main-font;
  color: $font-color;
  display: grid;
  grid-gap: 0;
  font-size: 1rem;
  /* all grid-areas are defined at the top of their respective scss partial */
  grid-template-areas:  'header'
                        'skills'
                        'projects'
                        'experience'
                        'education'
                        'resume'
                        'readings'
                        'footer'
                        ;
}
header, section, footer {
  text-align: center;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.5rem;
}

/* styling for desktop */
@media screen and (min-width: $tablet-breakpoint) {
  html {
    height: 1000vh;
  }
  body {
    grid-template-columns: 15% 15% 40% 15% 15%;
    grid-template-rows: 10% 10% 20% 10% 10% 10% 10% 20%;
    grid-gap: none;

    /* all grid-areas are defined at the top of their respective scss partial */
    grid-template-areas:  '..... ..... header ..... .....'
                          '..... skills skills skills .....'
                          '..... projects projects projects .....'
                          '..... ..... experience ..... .....'
                          '..... ..... education ..... .....'
                          '..... ..... resume ..... .....'
                          '..... ..... readings ..... .....'
                          '..... ..... footer ..... .....'
                          ;    
  }
}
