// web fonts 
// OPTIMIZE BY GETTING RID OF EXTRANEOUS FONTS 
@import url('https://fonts.googleapis.com/css?family=Muli');

// thin, simple sans-serif font
// could use the rounded version (find on google fonts)
// h2 - light, 100
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:100,300,400,500,700,800,900');

// rounded, visually interesting font
// h1 - bold 700
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

// fun, elegant font
@import url('https://fonts.googleapis.com/css?family=Vidaloka');

//
@import url('https://fonts.googleapis.com/css?family=Muli');


/* ------------------------- */

// typography
$main-font: 'M PLUS 1p', 'Muli', sans-serif;
// $font-color: #424242;
// $font-color: #3b3a3a;
$font-color: #303030;
$secondary-font-color: #8F8F8F;

// colors
$highlight-red: #EF514F;
$highlight-red-transparent: rgba(239, 81, 79, 0.15);
$highlight-red-dark: #A30503;
$highlight-blue: #4FDCEF;
$highlight-blue-dark: #0390A3;
$highlight-blue-transparent: rgba(79, 220, 239, 0.15);

/* media query breakpoints */
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1248px;