@import url('https://fonts.googleapis.com/css?family=Muli');

// typography
$main-font: 'Muli', sans-serif;
$font-color: #424242;
$secondary-font-color: #8F8F8F;

// colors
$highlight-red: #EF5350;
$highlight-blue: #4DD0E1;